:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  border: 1px solid black;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  height:auto;
  width:auto;
  
  /* i remove one em padding thing and now suddenly it centers and stuff LOL*/
}